# Mac OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Emacs Configure
## Directories
ac-dict/
autosave/
backups/
docsets/
eshell/history
eshell/lastdir
/elpa
/elpa-*
site-lisp/package/
themes/*
!themes/tomorrow-night-paradise-theme.el
thumbs/
url/

## Files
/.emacs.desktop
/.*.lock
/.session
/session.*
/custom.el
/ac-comphist.dat
/ido.last
/history
/recentf
/smex-items
/tramp

## Temp
*~
\#*\#
.\#*

